h1 {
    border-radius: 15px; 
    border: 2px solid black; 
    padding: 10px;
    background-color: #F4C430; 
    width: 300px;
}

h2 {
    border-radius: 15px; 
    border: 2px solid black; 
    padding: 10px;
    background-color: #F4C430; 
    width: 200px;
  }

  fieldset{
    width: 80%;}

a {
        display: block;
        text-align: center;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #333;
        text-decoration: none;
        color: #333;
        width: 10%;
        background-color:#F4C430; 
        border: none; 
        color: black; 
        padding: 10px 20px; 
        text-align: center;
        text-decoration: none; 
        display: inline-block;
        font-size: 16px; 
        margin: 4px 2px; 
        cursor: pointer;
        border-radius: 8px; 
    }
a:hover{
        background-color: green;
      }

body{
    background-color: #5ccb5f;
}     
div{
    border: 1px solid black;
    padding: 17px;
    width: 60%;
    margin: 0 auto;
  }
