body{
    margin: 0;
    padding: 0;
    background: url(Peliculas.png);
    background-size: cover;
    background-position: 0 0, center;

}

.contenedor {
    display: flex;
    justify-content: right; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
}
 
.contenedor-2 {
    width: 70%;
}

.img-juego {
    border-radius: 20px;
    width: 40%;
}