body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    font-style: italic;
    font-size: 15px;
}
.links {
    margin-top: 20px;
}
.links a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: blue;
}