        body {
            font-family: Algerian, sans-serif;
            font-size: 18px;
            text-align: center;
        }
        h1 {
            margin-top: 50px;
        }
        .enlace {
            display: block;
            margin-top: 20px;
        }