/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #121212;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(31, 31, 31, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

section {
    padding: 100px 20px 20px;
    text-align: center;
}

.background-image {
    background-image:url(/fondo1.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.content-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

button, .button-link {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
    backdrop-filter: blur(10px);
}

button:hover, .button-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

h1, h2, h3 {
    margin: 10;
    padding: 10px;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

/* Specific Styles */
#inicio .background-image {
    background-image: url('path_to_background_image.jpg');
}

#productos .background-image {
    background-image: url('path_to_background_image.jpg');
}

.content-box img {
    max-width: 100%;
    border-radius: 10px;
}

.text-box {
    margin: 20px;
    text-align: left;
}
